<div class="wrapper">
  <app-stock-card name="Microsoft" symbol="MSFT" image="https://ak.picdn.net/shutterstock/videos/1073069363/thumb/1.jpg?ip=x480"></app-stock-card>
  <app-stock-card name="Apple" symbol="AAPL" image="https://i.ytimg.com/vi/MXdXoQBVFmE/maxresdefault.jpg"></app-stock-card>
  <app-stock-card name="Google" symbol="GOOGL" image="https://s.hdnux.com/photos/01/23/56/41/21948520/4/rawImage.jpg"></app-stock-card>
  <app-stock-card name="Meta" symbol="META" image="https://www.tampabay.com/resizer//Uh0Azcm-ykZUG2nUaK_aI-kmbVU=/900x506/smart/cloudfront-us-east-1.images.arcpublishing.com/tbt/UXRGNMECYPL3XIDEE3SA5CH42A.jpg"></app-stock-card>
  <app-stock-card name="Amazon" symbol="AMZN" image="https://static01.nyt.com/images/2018/01/18/business/19AMAZONCITIES-1/19AMAZONCITIES-1-superJumbo.jpg"></app-stock-card>
  <app-stock-card name="Tesla" symbol="TSLA" image="https://media.kvue.com/assets/KVUE/images/9b559fb9-bc6b-4506-9ecc-c18e641f7179/9b559fb9-bc6b-4506-9ecc-c18e641f7179_1140x641.jpg"></app-stock-card>
  <app-news-carousel></app-news-carousel>
  <app-footer></app-footer>
</div>