.wrapper {
    display: grid;
    width: 900px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 210px 210px 180px;
    gap: 2em;
}

[nz-icon] {
    margin-right: 6px;
    font-size: 24px;
}